@model List<WishList.Models.Item>

<h1>Wishlist</h1>
<a asp-action="create">Add item</a>
<ul>
    @foreach (var item in Model)
    {
        <li asp-action="delete" asp-route-id="Id">@item.Description</li>
    }
</ul>